In [1]:
# Import Dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
# Read in the files
consolidated_file=pd.read_csv('Resources/consolidated_coin_data.csv')
# crypto_prices=pd.read_csv('Resources/crypto_prices.csv')
crypto_markets=pd.read_csv('Resources/crypto-markets.csv')

In [3]:
# Convert to DataFrame
consolidated_df=pd.DataFrame(consolidated_file)
crypto_df=pd.DataFrame(crypto_markets)

In [4]:
# Drop out some columns from crypto_df
crypto_df=crypto_df[['name','date','open','high','low','close','volume','market','spread']]

In [5]:
# Convert the data from last 6 columns
column_list=['Open','High','Low','Close','Volume','Market Cap']
for x in column_list:
    consolidated_df[x] = consolidated_df[x].str.replace(',', '').astype(float)

In [6]:
# Rename the columns from the consolidated_df
consolidated_df=consolidated_df.rename(columns={'Currency':'name','Open':'open','High':'high','Date':'date','Low':'low','Close':'close','Volume':'volume','Market Cap':'market'})

In [7]:
# Double check the type for the DataFrame
consolidated_df.dtypes

name       object
date       object
open      float64
high      float64
low       float64
close     float64
volume    float64
market    float64
dtype: object

In [8]:
# Display the newly updated DataFrame
consolidated_df

,name,date,open,high,low,close,volume,market
0,tezos,"Dec 04, 2019",1.29,1.32,1.25,1.25,46048752.0,824588509.0
1,tezos,"Dec 03, 2019",1.24,1.32,1.21,1.29,41462224.0,853213342.0
2,tezos,"Dec 02, 2019",1.25,1.26,1.20,1.24,27574097.0,817872179.0
3,tezos,"Dec 01, 2019",1.33,1.34,1.25,1.25,24127567.0,828296390.0
4,tezos,"Nov 30, 2019",1.31,1.37,1.31,1.33,28706667.0,879181680.0
...,...,...,...,...,...,...,...,...
28939,bitcoin-sv,"May 02, 2013",3.78,4.04,3.01,3.37,0.0,58287979.0
28940,bitcoin-sv,"May 01, 2013",4.29,4.36,3.52,3.80,0.0,65604596.0
28941,bitcoin-sv,"Apr 30, 2013",4.40,4.57,4.17,4.30,0.0,74020918.0
28942,bitcoin-sv,"Apr 29, 2013",4.37,4.57,4.23,4.38,0.0,75388964.0
28943,bitcoin-sv,"Apr 28, 2013",4.30,4.40,4.18,4.35,0.0,74636938.0

In [9]:
# Set the index to Currency column 
consolidated_df=consolidated_df.set_index('name')

In [10]:
# Filter out for just bitcoin
btc_df=consolidated_df.loc['bitcoin']

In [11]:
# Display the btc_df
btc_df

,date,open,high,low,close,volume,market
name,,,,,,,
bitcoin,"Dec 04, 2019",7320.13,7539.78,7170.92,7252.03,2.166424e+10,1.311431e+11
bitcoin,"Dec 03, 2019",7323.98,7418.86,7229.36,7320.15,1.479749e+10,1.323599e+11
bitcoin,"Dec 02, 2019",7424.04,7474.82,7233.40,7321.99,1.708204e+10,1.323790e+11
bitcoin,"Dec 01, 2019",7571.62,7571.62,7291.34,7424.29,1.872071e+10,1.342151e+11
bitcoin,"Nov 30, 2019",7764.06,7836.10,7515.85,7569.63,1.715819e+10,1.368294e+11
...,...,...,...,...,...,...,...
bitcoin,"May 02, 2013",116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09
bitcoin,"May 01, 2013",139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09
bitcoin,"Apr 30, 2013",144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09
bitcoin,"Apr 29, 2013",134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09
bitcoin,"Apr 28, 2013",135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09

In [12]:
# Convert the date to Mm-yyyy format
btc_df['month-year']=pd.to_datetime(btc_df['date']).dt.to_period('M')

C:\Users\phuph\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# Display the cleaned btc_df
btc_df

,date,open,high,low,close,volume,market,month-year
name,,,,,,,,
bitcoin,"Dec 04, 2019",7320.13,7539.78,7170.92,7252.03,2.166424e+10,1.311431e+11,2019-12
bitcoin,"Dec 03, 2019",7323.98,7418.86,7229.36,7320.15,1.479749e+10,1.323599e+11,2019-12
bitcoin,"Dec 02, 2019",7424.04,7474.82,7233.40,7321.99,1.708204e+10,1.323790e+11,2019-12
bitcoin,"Dec 01, 2019",7571.62,7571.62,7291.34,7424.29,1.872071e+10,1.342151e+11,2019-12
bitcoin,"Nov 30, 2019",7764.06,7836.10,7515.85,7569.63,1.715819e+10,1.368294e+11,2019-11
...,...,...,...,...,...,...,...,...
bitcoin,"May 02, 2013",116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09,2013-05
bitcoin,"May 01, 2013",139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09,2013-05
bitcoin,"Apr 30, 2013",144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09,2013-04
bitcoin,"Apr 29, 2013",134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09,2013-04
bitcoin,"Apr 28, 2013",135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09,2013-04

In [14]:
# Lower the values in the name column
crypto_df['name']=crypto_df['name'].str.lower()

In [15]:
# Convert date to MM-yyyy
crypto_df['month-year']=pd.to_datetime(crypto_df['date']).dt.to_period('M')

In [16]:
# Display the crypto_df
crypto_df

,name,date,open,high,low,close,volume,market,spread,month-year
0,bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.0,1.488567e+09,3.88,2013-04
1,bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.0,1.603769e+09,13.49,2013-04
2,bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.0,1.542813e+09,12.88,2013-04
3,bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.0,1.298955e+09,32.17,2013-05
4,bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.0,1.168517e+09,33.32,2013-05
...,...,...,...,...,...,...,...,...,...,...
942292,project-x,2018-11-26,22424.60,23049.30,17607.50,20724.80,143.0,1.622000e+03,5441.80,2018-11
942293,project-x,2018-11-27,20711.90,23742.10,19292.90,23298.70,637.0,1.823000e+03,4449.20,2018-11
942294,project-x,2018-11-28,23320.90,25235.10,19888.10,24442.70,49.0,1.913000e+03,5347.00,2018-11
942295,project-x,2018-11-29,24543.53,24582.47,21457.95,22839.44,153.0,1.788000e+03,3124.52,2018-11
942296,project-x,2018-11-30,22872.09,23086.98,19040.91,21136.72,125.0,1.654000e+03,4046.07,2018-11

In [17]:
# Set the index to name
crypto_df=crypto_df.set_index('name')

In [18]:
# Filter out the bitcoin
btc1_df=crypto_df.loc['bitcoin']

In [19]:
# Display the btc1_df
btc1_df

,date,open,high,low,close,volume,market,spread,month-year
name,,,,,,,,,
bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09,3.88,2013-04
bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09,13.49,2013-04
bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09,12.88,2013-04
bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09,32.17,2013-05
bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09,33.32,2013-05
...,...,...,...,...,...,...,...,...,...
bitcoin,2018-11-25,3880.78,4120.87,3585.06,4009.97,6.825640e+09,6.974927e+10,535.81,2018-11
bitcoin,2018-11-26,4015.07,4107.14,3643.92,3779.13,6.476900e+09,6.573929e+10,463.22,2018-11
bitcoin,2018-11-27,3765.95,3862.96,3661.01,3820.72,5.998720e+09,6.646897e+10,201.95,2018-11
bitcoin,2018-11-28,3822.47,4385.90,3822.47,4257.42,7.280280e+09,7.407256e+10,563.43,2018-11
bitcoin,2018-11-29,4269.00,4413.02,4145.77,4278.85,6.503348e+09,7.445102e+10,267.25,2018-11

In [20]:
# Join two dataframe
final_df=pd.concat([btc_df,btc1_df])

In [21]:

new_df=final_df[~pd.isnull(final_df['spread'])]

In [22]:
new_df

,date,open,high,low,close,volume,market,month-year,spread
name,,,,,,,,,
bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09,2013-04,3.88
bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09,2013-04,13.49
bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09,2013-04,12.88
bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09,2013-05,32.17
bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09,2013-05,33.32
...,...,...,...,...,...,...,...,...,...
bitcoin,2018-11-25,3880.78,4120.87,3585.06,4009.97,6.825640e+09,6.974927e+10,2018-11,535.81
bitcoin,2018-11-26,4015.07,4107.14,3643.92,3779.13,6.476900e+09,6.573929e+10,2018-11,463.22
bitcoin,2018-11-27,3765.95,3862.96,3661.01,3820.72,5.998720e+09,6.646897e+10,2018-11,201.95
bitcoin,2018-11-28,3822.47,4385.90,3822.47,4257.42,7.280280e+09,7.407256e+10,2018-11,563.43
bitcoin,2018-11-29,4269.00,4413.02,4145.77,4278.85,6.503348e+09,7.445102e+10,2018-11,267.25

In [75]:
# Read in another file
disposable_income=pd.read_csv('disposable_inc.csv')
#

In [76]:
income_df=pd.DataFrame(disposable_income)

In [77]:
income_df=income_df.drop('Unnamed: 0',axis=1)

In [78]:
income_df

        Date  Income  month month_year
0   1/1/2013   38891      1    2013-01
1   2/1/2013   38679      2    2013-02
2   3/1/2013   38720      3    2013-03
3   4/1/2013   38853      4    2013-04
4   5/1/2013   39054      5    2013-05
..       ...     ...    ...        ...
87  4/1/2020   52339      4    2020-04
88  5/1/2020   49707      5    2020-05
89  6/1/2020   48693      6    2020-06
90  7/1/2020   48651      7    2020-07
91  8/1/2020   46925      8    2020-08

[92 rows x 4 columns]

In [79]:
# Join the new_df with the income_df
cleaned_df=pd.concat([new_df,income_df])

In [80]:
cleaned_df

,date,open,high,low,close,volume,market,month-year,spread,average,Date,Income,month,month_year
bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.0,1.488567e+09,2013-04,3.88,134.3975,NaN,NaN,NaN,NaN
bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.0,1.603769e+09,2013-04,13.49,140.1175,NaN,NaN,NaN,NaN
bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.0,1.542813e+09,2013-04,12.88,140.9950,NaN,NaN,NaN,NaN
bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.0,1.298955e+09,2013-05,32.17,125.9000,NaN,NaN,NaN,NaN
bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.0,1.168517e+09,2013-05,33.32,109.8675,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/1/2020,52339.0,4.0,2020-04
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/1/2020,49707.0,5.0,2020-05
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/1/2020,48693.0,6.0,2020-06
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/1/2020,48651.0,7.0,2020-07
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8/1/2020,46925.0,8.0,2020-08

In [36]:
new_df

,date,open,high,low,close,volume,market,month-year,spread
name,,,,,,,,,
bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09,2013-04,3.88
bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09,2013-04,13.49
bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09,2013-04,12.88
bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09,2013-05,32.17
bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09,2013-05,33.32
...,...,...,...,...,...,...,...,...,...
bitcoin,2018-11-25,3880.78,4120.87,3585.06,4009.97,6.825640e+09,6.974927e+10,2018-11,535.81
bitcoin,2018-11-26,4015.07,4107.14,3643.92,3779.13,6.476900e+09,6.573929e+10,2018-11,463.22
bitcoin,2018-11-27,3765.95,3862.96,3661.01,3820.72,5.998720e+09,6.646897e+10,2018-11,201.95
bitcoin,2018-11-28,3822.47,4385.90,3822.47,4257.42,7.280280e+09,7.407256e+10,2018-11,563.43
bitcoin,2018-11-29,4269.00,4413.02,4145.77,4278.85,6.503348e+09,7.445102e+10,2018-11,267.25

In [37]:
new_df['average']=(new_df['open']+new_df['high']+new_df['low']+new_df['close'])/4

C:\Users\phuph\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
new_df

,date,open,high,low,close,volume,market,month-year,spread,average
name,,,,,,,,,,
bitcoin,2013-04-28,135.30,135.98,132.10,134.21,0.000000e+00,1.488567e+09,2013-04,3.88,134.3975
bitcoin,2013-04-29,134.44,147.49,134.00,144.54,0.000000e+00,1.603769e+09,2013-04,13.49,140.1175
bitcoin,2013-04-30,144.00,146.93,134.05,139.00,0.000000e+00,1.542813e+09,2013-04,12.88,140.9950
bitcoin,2013-05-01,139.00,139.89,107.72,116.99,0.000000e+00,1.298955e+09,2013-05,32.17,125.9000
bitcoin,2013-05-02,116.38,125.60,92.28,105.21,0.000000e+00,1.168517e+09,2013-05,33.32,109.8675
...,...,...,...,...,...,...,...,...,...,...
bitcoin,2018-11-25,3880.78,4120.87,3585.06,4009.97,6.825640e+09,6.974927e+10,2018-11,535.81,3899.1700
bitcoin,2018-11-26,4015.07,4107.14,3643.92,3779.13,6.476900e+09,6.573929e+10,2018-11,463.22,3886.3150
bitcoin,2018-11-27,3765.95,3862.96,3661.01,3820.72,5.998720e+09,6.646897e+10,2018-11,201.95,3777.6600
bitcoin,2018-11-28,3822.47,4385.90,3822.47,4257.42,7.280280e+09,7.407256e+10,2018-11,563.43,4072.0650
bitcoin,2018-11-29,4269.00,4413.02,4145.77,4278.85,6.503348e+09,7.445102e+10,2018-11,267.25,4276.6600

In [58]:
# Select the X and y for the machine
X=new_df.drop(['date','month-year','average','open','high','low','close'],axis=1)
y=new_df['average']

In [59]:
print(X.shape,y.shape)

(2042, 3) (2042,)

In [66]:
# Create a Linear Regression model
model = LinearRegression()

In [67]:
# Fit in the model
model.fit(X,y)

LinearRegression()

In [68]:
print(model)

LinearRegression()

In [69]:
print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

Weight coefficients:  [-3.23531215e-09  5.79719453e-08  1.55350088e-01]
y-axis intercept:  71.12359512274952

In [70]:
predictions = model.predict(X)

In [72]:
prediction_df=pd.DataFrame({"Predicted": predictions, "Actual": y, "Error": predictions - y})[["Predicted", "Actual", "Error"]]

In [73]:
prediction_df

           Predicted     Actual       Error
name
bitcoin   158.021462   134.3975   23.623962
bitcoin   166.192869   140.1175   26.075369
bitcoin   162.564382   140.9950   21.569382
bitcoin   151.424132   125.9000   25.524132
bitcoin   144.041092   109.8675   34.173592
...              ...        ...         ...
bitcoin  4175.779272  3899.1700  276.609272
bitcoin  3933.164539  3886.3150   46.849539
bitcoin  3936.424326  3777.6600  158.764326
bitcoin  4429.228919  4072.0650  357.163919
bitcoin  4407.670827  4276.6600  131.010827

[2042 rows x 3 columns]